<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.edawtech.jiayou">
    <!-- Android 8.0+，那你需要多加一个权限，否则无法跳转到安装页 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 允许一个程序安装packages（静默安装需要此权限） -->
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" /> <!-- android 9.0上使用前台服务，需要添加权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 连网权限 -->
    <!-- 获取网络状态，根据网络状态切换进行数据请求网络转换 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 访问相册，访问文件系统等 -->
    <!-- 写外置存储。如果开发者使用了离线地图，并且数据写在外置存储区域，则需要申请该权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 保存图片，拍照等 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 检测wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 为了获取用户手机的IMEI，用来唯一的标识用户。 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 允许程序连接到已配对的蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- 允许程序发现和配对蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 发送位置消息，实时位置共享 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 开启悬浮窗权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 获取手机通讯录权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 读取外置存储。如果开发者使用了so动态加载功能并且把so文件放在了外置存储区域，则需要申请该权限，否则不需要 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 访问网络，进行地图相关业务数据请求，包括地图数据，路线规划，POI检索等 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PERMISSIONS_STORAGE"/>

    <application
        android:name=".config.base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup"
        tools:replace="android:label"
        tools:targetApi="n">

        <!-- 注册 -->
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleInstance"
            android:theme="@style/NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 加油站列表 -->
        <activity
            android:name=".ui.activity.MoreReListActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" /> <!-- 登录页面 -->
        <activity
            android:name=".ui.activity.RefuelCouponMoneyActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" /> <!-- 登录页面 -->
        <!-- 加油站订单 -->
        <activity
            android:name=".ui.activity.RefuelOrderActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" /> <!-- 加油站订单 -->
        <activity
            android:name=".ui.activity.OrderRefurlActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" /> <!-- 加油站详情 -->
        <activity
            android:name=".ui.activity.RefuelDetailKTActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" /> <!-- 我要赚钱 -->
        <activity
            android:name=".ui.activity.MakeMoneyActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.OrderDetailActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".ui.activity.MyQcodeActivity"

            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.RefuelSearchActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.StoreDetailActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
         <!-- 加油站搜索 -->
            <activity
            android:name=".ui.activity.RefuelKotilActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />


        <activity
            android:name=".ui.activity.WebPageNavigationActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".config.base.VsBaseActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.WeiboShareWebViewActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" /> <!-- 新增/修改收货地址 -->
        <activity
            android:name=".ui.activity.AddressAddActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 收货地址列表 -->
        <activity
            android:name=".ui.activity.AddressListActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 扫码界面 -->
        <activity
            android:name=".ui.activity.CaptureActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 我的收藏 -->
        <activity
            android:name=".ui.activity.CollectionActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 我的成长金 -->
        <activity
            android:name=".ui.activity.GrowMoneyActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 加油明细 -->
        <activity
            android:name=".ui.activity.InviteDetailActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 我的二维码 -->
        <activity
            android:name=".ui.activity.KcMyQcodeActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 关于我们 -->
        <activity
            android:name=".ui.activity.KcQcodeActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 红包成长金 -->
        <activity
            android:name=".ui.activity.MyScoresActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 确认订单页面 -->
        <activity
            android:name=".ui.activity.OrderEnsureActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 订单支付成功 -->
        <activity
            android:name=".ui.activity.PayDoneActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 我的积分 -->
        <activity
            android:name=".ui.activity.RefuelBalanceActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 会员权益 -->
        <activity
            android:name=".ui.activity.TwitterEquitiesActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- VIP会员权益 -->
        <activity
            android:name=".ui.activity.VipMemberActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 余额明细 -->
        <activity
            android:name=".ui.activity.VsBalanceMoney"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 来电显示操作 -->
        <activity
            android:name=".ui.activity.VsCallerIdentificationActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 通话记录 -->
        <activity
            android:name=".ui.activity.VsCallLogActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 拨打设置类 -->
        <activity
            android:name=".ui.activity.VsCallTypeSetingActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 充值卡列表 -->
        <activity
            android:name=".ui.activity.VsChangeListActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 绑定手机号/改绑手机号 -->
        <activity
            android:name=".ui.activity.VsChangePhoneActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 话单查询 -->
        <activity
            android:name=".ui.activity.VsCheckPhoneActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 登录 -->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 我的套餐/我的余额 -->
        <activity
            android:name=".ui.activity.VsMyBalanceDetailActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 个人中心 -->
        <activity
            android:name=".ui.activity.UserInfoActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 我的套餐 -->
        <activity
            android:name=".ui.activity.VsMyMealActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 我的红包 -->
        <activity
            android:name=".ui.activity.VsMyRedPagActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 提现 -->
        <activity
            android:name=".ui.activity.VsMyRedPopActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 设置详情 -->
        <activity
            android:name=".ui.activity.VsMyTextDetailActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 充值中心 -->
        <activity
            android:name=".ui.activity.VsRechargeActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 积分充值卡 -->
        <activity
            android:name=".ui.activity.VsRechargeBangbangCard"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 多卡充值 卡记录 -->
        <activity
            android:name=".ui.activity.VsRechargeCardList"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 移动充值卡充值 -->
        <activity
            android:name=".ui.activity.VsRechargeMobileCard"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 充值类型 -->
        <activity
            android:name=".ui.activity.VsRechargePayTypes"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 绑定微信号步骤 -->
        <activity
            android:name=".ui.activity.VsredinfoActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 注册 -->
        <!-- 设置 -->
        <activity
            android:name=".ui.activity.SettingActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 自动接听、拨打按键音设置 -->
        <activity
            android:name=".ui.activity.VsSetingVoiceHangActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 重置密码 -->
        <activity
            android:name=".ui.activity.ResetPasswordActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <!-- 第三方信息 -->
        <activity
            android:name=".ui.activity.VsthirdTypeActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="27IY4EmCGG7t974j3BK2eSlSe02rXKou" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="1e83b290e755fa5f7661ece7598583c7" />

        <service android:name="com.amap.api.location.APSService" />
        <service android:name=".config.service.VsCoreService">
            <intent-filter>
                <action android:name="com.weiwei.dataprovider.KcCoreService" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </service>
        <service android:name=".config.service.VsCallNotificationService">
            <intent-filter>
                <action android:name="com.weiwei.callnotification_Service" />
            </intent-filter>
        </service> <!-- =====================================友盟配置========================================== -->
        <!-- 分享编辑页 -->
<!--        <activity-->
<!--            android:name="com.umeng.socialize.view.ShareActivity"-->
<!--            android:configChanges="orientation|keyboard"-->
<!--            android:launchMode="singleTask"-->
<!--            android:noHistory="true"-->
<!--            android:theme="@style/Theme.UMDialog"-->
<!--            android:windowSoftInputMode="stateVisible|adjustResize" /> &lt;!&ndash; 友盟分享 &ndash;&gt;-->
<!--        &lt;!&ndash; ############ QQ空间和QQ SSO授权的Activity注册 ############ &ndash;&gt;-->
<!--        <activity-->
<!--            android:name="com.tencent.tauth.AuthActivity"-->
<!--            android:launchMode="singleTask"-->
<!--            android:noHistory="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                &lt;!&ndash; 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID &ndash;&gt;-->
<!--                <data android:scheme="tencent1105818982" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--        <activity-->
<!--            android:name="com.tencent.connect.common.AssistActivity"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:theme="@android:style/Theme.Translucent.NoTitleBar"-->
<!--            tools:replace="android:screenOrientation" />-->

<!--        <meta-data-->
<!--            android:name="PGYER_APPID"-->
<!--            android:value="f97c5a961792ed1d3511aa3ce0889c54" /> &lt;!&ndash; QQ分享 &ndash;&gt;-->
<!--        <meta-data-->
<!--            android:name="tencent_qq_appid"-->
<!--            android:value="1105818982" />-->
<!--        <meta-data-->
<!--            android:name="weixin_key"-->
<!--            android:value="wxefb0bdad32cbbb70" /> &lt;!&ndash; 友盟统计 &ndash;&gt;-->
<!--        <meta-data-->
<!--            android:name="UMENG_APPKEY"-->
<!--            android:value="5a4b65e8f29d980581000140" /> &lt;!&ndash; zhihao:551a1417fd98c5a95f0002e0 ; old:54111aadfd98c54ed00c05ce &ndash;&gt;-->
<!--        <meta-data-->
<!--            android:name="UMENG_CHANNEL"-->
<!--            android:value="weishuo" /> &lt;!&ndash; 友盟微信回调Activity &ndash;&gt;-->
<!--        <activity-->
<!--            android:name=".wxapi.WXEntryActivity"-->
<!--            android:configChanges="keyboardHidden|orientation|screenSize"-->
<!--            android:exported="true"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:theme="@android:style/Theme.Translucent" />-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->


            <!-- &lt;!&ndash;这里填写你申请的app id&ndash;&gt; -->
            <!-- <data android:scheme="wxefb0bdad32cbbb70" /> -->
            <!-- </intent-filter> -->
        </activity>

        <!-- targetSDKVersion >= 24时才需要添加这个provider。provider的authorities属性的值为${applicationId}.fileprovider，请开发者根据自己的${applicationId}来设置这个值. -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.edawtech.jiayou.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>